<div class="container">
	<div class="col-lg-12">
		<h3 class="page-header">Courses</h3>
	</div>
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New Courses</a></li>
			<li role="presentation"><a href="#free" aria-controls="free" role="tab" data-toggle="tab">Free Courses</a></li>
			<li role="presentation"><a href="#paid" aria-controls="paid" role="tab" data-toggle="tab">Paid Courses</a></li>
			<li role="presentation"><a href="#All" aria-controls="All" role="tab" data-toggle="tab">All Courses</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="new">
			<% data.forEach(function(data){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= data.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= data.title %></h3>
								<p><%= data.description %></p><p></p>
								<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span>
								<% if(data.paid == false || courseMap[data.id]){ %>
								<span class="watch-link">Already purchased! Watch now.</span>
								<span class="watch-link"><a href="/courses/watch/<%= data.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start This Course!</h5></a></span>
								<% }else if(data.paid == true){ %>
								<span class="watch-link"><a href="/preview/<%= data.id %>" class="learn"><h5>More Info!</h5></a></span>
								<form action="/courses/buy/<%= data.id %>" method="POST">
									<script
									src="https://checkout.stripe.com/checkout.js" class="stripe-button"
									data-key="pk_test_c9gQIaA2tMmgbD0KDYPBzRYx"
									data-amount="999"
									data-name="Demo Site"
									data-description="One video ($9.99)"
									data-image="/128x128.png">
								</script>
							</form>
								<% } %>
							</div>          
							</div>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
			<div role="tabpanel" class="tab-pane" id="free">
			<% data.forEach(function(data){ %>
			<% if(data.paid == false){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= data.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= data.title %></h3>
								<p><%= data.description %></p><p></p>
								<div class="bottom clearfix">
									<span></span><span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="/courses/watch/<%= data.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start Course!</h5></a></span>
								</div>       
							</div>
						</div>
					</div>
				</div>
				<% } %>
				<% }) %>
			</div>
			<div role="tabpanel" class="tab-pane" id="paid">
			<% data.forEach(function(data){ %>
			<% if(data.paid == true){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= data.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= data.title %></h3>
								<p><%= data.description %></p><p></p>
								<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span>
								<% if(data.paid == false || courseMap[data.id]){ %>
								<span class="watch-link">Already purchased! Watch now.</span>
								<span class="watch-link"><a href="/courses/watch/<%= data.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start This Course!</h5></a></span>
								<% }else if(data.paid == true){ %>
								<span class="watch-link"><a href="/preview/<%= data.id %>" class="learn"><h5>More Info!</h5></a></span>
								<form action="/courses/buy/<%= data.id %>" method="POST">
									<script
									src="https://checkout.stripe.com/checkout.js" class="stripe-button"
									data-key="pk_test_c9gQIaA2tMmgbD0KDYPBzRYx"
									data-amount="2000"
									data-name="Demo Site"
									data-description="One video ($20.00)"
									data-image="/128x128.png">
								</script>
							</form>
								<% } %>
							</div>          
							</div>
						</div>
					</div>
				</div>
				<% } %>
				<% }) %>
			</div>
			<div role="tabpanel" class="tab-pane" id="All">
			<% data.forEach(function(data){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= data.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= data.title %></h3>
								<p><%= data.description %></p><p></p>
								<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span>
								<% if(data.paid == false || courseMap[data.id]){ %>
								<span class="watch-link">Already purchased! Watch now.</span>
								<span class="watch-link"><a href="/courses/watch/<%= data.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start This Course!</h5></a></span>
								<% }else if(data.paid == true){ %>
								<span class="watch-link"><a href="/preview/<%= data.id %>" class="learn"><h5>More Info!</h5></a></span>
								<form action="/courses/buy/<%= data.id %>" method="POST">
									<script
									src="https://checkout.stripe.com/checkout.js" class="stripe-button"
									data-key="pk_test_c9gQIaA2tMmgbD0KDYPBzRYx"
									data-amount="2000"
									data-name="Demo Site"
									data-description="One video ($20.00)"
									data-image="/128x128.png">
								</script>
							</form>
								<% } %>
							</div>          
							</div>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>