<div class="container">
<% if(!currentUser){ %>
	<h2> You must be a member to view this page.  Please sign up or login.  Thank you.</h2>
	<% }else{ %>
	<div class="col-lg-12">
		<h2 class="page-header text-center"><b>Student Dashboard</b></h2>
	</div>
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#aqeedah" aria-controls="new" role="tab" data-toggle="tab">Aqeedah</a></li>
			<li role="presentation"><a href="#Fiqh" aria-controls="Fiqh" role="tab" data-toggle="tab">Fiqh</a></li>
			<li role="presentation"><a href="#Hadith" aria-controls="Hadith" role="tab" data-toggle="tab">Hadith</a></li>
			<li role="presentation"><a href="#Quran" aria-controls="Quran" role="tab" data-toggle="tab">Quran</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="aqeedah">
			<% data.forEach(function(course){ %>
				<% if(course.category == 'Aqeedah'){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= course.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= course.title %></h3>
								<p><%= course.description %></p><p></p>
								<div class="bottom clearfix">
									<span></span><span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="/courses/<%= course.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start Course!</h5></a></span>
								</div>       
							</div>
						</div>
					</div>
				</div>
					<% } %>
				<% }) %>
			</div>
			<div role="tabpanel" class="tab-pane" id="Fiqh">
				<% data.forEach(function(course){ %>
				<% if(course.category == 'Fiqh'){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= course.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= course.title %></h3>
								<p><%= course.description %></p><p></p>
								<div class="bottom clearfix">
									<span></span><span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="/courses/<%= course.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start Course!</h5></a></span>
								</div>       
							</div>
						</div>
					</div>
				</div>
					<% } %>
				<% }) %>
			</div>
			<div role="tabpanel" class="tab-pane" id="Hadith">
				<% data.forEach(function(course){ %>
				<% if(course.category == 'Hadith'){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= course.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= course.title %></h3>
								<p><%= course.description %></p><p></p>
								<div class="bottom clearfix">
									<span></span><span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="/courses/<%= course.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start Course!</h5></a></span>
								</div>       
							</div>
						</div>
					</div>
				</div>
					<% } %>
				<% }) %>
			</div>
			<div role="tabpanel" class="tab-pane" id="Quran">
				<% data.forEach(function(course){ %>
				<% if(course.category == 'Quran'){ %>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<img src="<%= course.image %>" class="pull-left" width="230" height="200"
								style="margin-bottom: 20px; 20px; margin-top: 20px;">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
							<div class="summary">
								<h3 class=""><%= course.title %></h3>
								<p><%= course.description %></p><p></p>
								<div class="bottom clearfix">
									<span></span><span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="/courses/<%= course.title.replace(/\s+/g, '-') %>" class="learn"><h5>Start Course!</h5></a></span>
								</div>       
							</div>
						</div>
					</div>
				</div>
					<% } %>
				<% }) %>
			</div>
		</div>
	</div>
	<% } %> 
</div>